@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animated-underline {
    background: 
      linear-gradient(to right, #d4d4d4, #d4d4d4),
      linear-gradient(to right, #171717, #171717);
    background-size: 100% 0.05em, 0 0.05em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 0.05em, 100% 0.05em;
  }
}

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

body { 
  font-family: 'Uber Move Text', sans-serif;                                                
}


section.show-element {
  animation: fade-in .2s forwards;
  animation-timing-function: ease-out;
}

section.hide-element {
  animation: fade-out .2s forwards;
}


.slide-right  {
  animation: slide-rigth .2s forwards ease-in;
}

.slide-left  {
  animation: slide-left .2s forwards ease-out;
}

.slide-in {
  animation: slide-in .15s forwards ease-in-out;
}
.slide-out {
  animation: slide-out .15s forwards ease-out;
}

img {
  width: 100%;
}


@keyframes fade-out {
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}


@keyframes slide-rigth {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  } to {
    transform: translate(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0%);
  } to {
    transform: translateY(155%);
  }
}